.superimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    font-size: 40px;
}

h4 {
    text-align: center;
    font-family: 'IM Fell English SC', serif;
}

.superimage {
    text-align: center;
}

h3 {
    font-size: 30px;
    font-family: 'Walter Turncoat', cursive;
}

.descript {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 20px;
    text-align: left;
    margin-right: 500px;
    width: 300px;
}

.backstory {
    /*margin-left: 750px;*/
    text-align: right;
    width: 300px;
}

p {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 20px;
    text-align: left;
    margin-right: 500px;
    width: 300px;
}
