h1 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    font-size: 40px;
}

h3 {
    font-size: 30px;
    font-family: 'Walter Turncoat', cursive;
}


/*.backstory {*/


/*    text-align: right;*/


/*}*/

p {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 20px;
    text-align: left;
    margin-right: 500px;
    width: 300px;
}
